
.DatepickerContainer {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 1vmax; 
}

b {
  margin: 5px;
}

.presetMenuContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  top: 10px;
  right: 33%;
  width: 33%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: white !important;
  -webkit-animation-name: menuanimatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: menuanimatetop;
  animation-duration: 0.4s;
  background-color: white !important;
}

.presetMenuContainer>ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style-type: none;
  list-style: none;
}
.presetMenuContainer>ul li {
  width:70%;
  padding:10px;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #E3E8F8;
  color:#222831;
  border-radius: 5px;
}
.presetMenuContainer>ul li:hover, li:active {
  cursor: pointer;
  box-shadow:0px 20px 70px 1px #D6A9DD;
  opacity: 0.85;
}

.calendarHamburger {
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid black;
  border-bottom: 0.2em solid black;
  align-self: left;
}

.calendarHamburger:hover {
  cursor: pointer;
  font-size: 2rem;
  box-shadow:0px 20px 70px 1px #D6A9DD;
  opacity: 0.7;
}

.calendarHamburger:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid black;
}

.close-calendar-button:hover {
  cursor: pointer;
  box-shadow:0px 20px 70px 1px #D6A9DD;
  opacity: 0.85;
  font-size: 2rem;
}

.leftArrow, .rightArrow {
  font-size: 1.5rem;
  cursor: pointer;
}
.leftArrow:hover, .rightArrow:hover {
  font-size: 2rem;
  cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin:auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    width: 730px;
    height: 80%;
  }
  /* animations for calendar UI */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @-webkit-keyframes menuanimatetop {
    from {top:-300px; opacity:0} 
    to {top:10px; opacity:1}
  }
  @keyframes menuanimatetop {
    from {top:-300px; opacity:0}
    to {top:10px; opacity:1}
  }

  @-webkit-keyframes animateleft {
    from {right:365px; opacity:0; z-index: -1;}
    to {right:780px; opacity:1; z-index: 1;}
  }
  @keyframes animateleft {
    from {right:365px; opacity:0; z-index: -1;}
    to {right:780px; opacity:1; z-index: 1;}
  }
  .grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E8F8;
    text-align: center;
    font-size: 24px;
    border-radius: 5px; 
    transition: all, 0.1s;   
  }

  .grid-container > div.active {
    background-color: #222831;
    color:white;   
    box-shadow:0px 20px 70px 1px #D6A9DD;
  }

  .grid-container > .day {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 24px;
    height: 48px;
    width: 48px;
    transition: all, 0.1s;   
  }
  .grid-container > .leading-trailing-day {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 24px;
    height: 48px;
    width: 48px;
    color: grey;
    background-color: lightgrey;
    transition: all, 0.1s;   
  }
  .grid-container > .day.highlighted {
    background-color: #222831;
    color:white;
    box-shadow:0px 20px 70px 1px #B7C0DD;   
  }

  .grid-container > .dayHeader {
    padding: 20px;
  }

  .grid-container > .monthHeader {
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
  }

  .grid-container > .monthHeader > .leftArrow {
    vertical-align: middle;
    grid-column-start: 0;
    grid-column-end: 1;
    height: 48px;
    width:  48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-container > .monthHeader > .rightArrow {
    vertical-align: middle;
    grid-column-start: 7;
    grid-column-end: 8;
    height: 48px;
    width:  48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .startDateElement, .endDateElement, .startTimeElement, .endTimeElement {
    font-size: 1rem !important;
    font-weight: lighter;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .startTimeElement, .endTimeElement, .startTimeElement input, .endTimeElement input {
    font-size: 1.54em !important;
  }
  .startTimeElement, .endTimeElement {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-items: center;
    align-items: center;
  }
  .hour input, .minute input {
    background: none;	  
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 2em;
    display: block;
    float: left;
    padding:0;
    margin-top: 10%;
    clear: both;
    text-align: center;
  }
  .hour input[type=number]:focus, .hour input[type=number]:active, .minute input[type=number]:focus, .minute input[type=number]:active {
    background: none;	  
    border:none;
    background-image:none;
    background-color:transparent;
    border: 1px solid #2b4c68;
    width: calc(2em - 4px);
    padding:0;
    margin-top: 10%;
  }
  .hour .ReadOnly:focus, .hour .ReadOnly:active, .minute .ReadOnly:focus, .minute .ReadOnly:active {
    border: none !important;
    outline: none !important;
    width: 2em !important;
    padding:0;
    margin-top: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Chrome, Safari, Edge, Opera */
  .hour input::-webkit-outer-spin-button, .hour input::-webkit-inner-spin-button, .minute input::-webkit-outer-spin-button, .minute input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  .hour input[type=number], .minute input[type=number] {
    -moz-appearance: textfield;
  }
  .TimeUpDown {
    margin-left: 5px;
    float: left;
    color: #222831;
  }
  .TimeUpDown div {
    cursor: pointer;
    color: #222831;
  }  
  .TimeUpDown div:hover {
    opacity: 0.7;
    cursor:pointer;
    box-shadow:0px 20px 70px 1px #D6A9DD;
  }
  .ampm {
    border-radius: 5px;
    border: 2px solid #222831;
  }
  .am, .pm {
    cursor: pointer;
    padding: 2px;
  }
  .am[selected], .pm[selected]{
    background-color: #222831;
    color: #fff;
  }
  .am {
    border-bottom: 1px solid #222831;
  }

/* submit button styling */
.cancelButton {
  font-size: 2rem;
  background-color: #ffb8ca;
  text-align: center;
  border-radius: 5px; 
  transition: all, 0.1s;
  border-style: none;
}

.submitButton {
  font-size: 3rem;
  background-color: #b8ffca;
  text-align: center;
  border-radius: 5px; 
  transition: all, 0.1s;
  border-style: none;
}

.submitButton:hover, .cancelButton:hover {
  box-shadow:0px 20px 70px 1px #D6A9DD;
  cursor: pointer;
  opacity: 0.85;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.launch {
  float: left;
  border-style: solid;
  border-color: #E4E8FB;
  border-width: 2px;
  border-radius: 5px;
  box-sizing: border-box;
}

.headingBlock {
  float: left;
  background-color: #E4E8FB;
  text-align: right;
  min-width: 100px;
  line-height: 40px;
  padding: 0px 10px 0px 0px;
}

.timeBlock {
  float: left;
  min-width: 100px;
  line-height: 40px;
  padding: 0px 20px;
}

.launchButton {
  display:none;
  float: left;
  position: absolute;
  text-align: center;
  color: #222831;
  width:250px;
  line-height: 80px;
  border-radius: 5px;
}

.launch:hover > .launchButton {
  display:block;
  cursor:pointer;
}
.launch:hover > .timeBlock {
  cursor:pointer;
  opacity: 0.2;
}
.launch:hover > .headingBlock {
  cursor:pointer;
  opacity: 0.2;
}

.day:hover {
  cursor:pointer;
  opacity: 0.85;
  box-shadow:0px 20px 70px 1px #D6A9DD;
}