:root { 
/* Sundown Color Theme Swatches in Hex */
/* --Accent: #FCBB6D;
--Background: #D8737F;
--Secondary: #AB6C8C;
--Primary: #685D79;
--Shadow: #475C7A; */

/* Army Color Theme Swatches in Hex */
--Accent: #000000;
--Secondary: #FDD42E;
--Background: #C0B6A5;
--Primary: #918B7E;
--Shadow: #E6E8EB;

/* PEC Color Theme Swatches in Hex */
/* --Secondary: #999999;
--Shadow: #B9BBBD;
--Accent: #196DAB;
--Primary: #FAFCFF;
--Background: #E6E8EB; */

/* ARMPEC Color Theme Swatches in Hex */
/* --Shadow: #0F3F61;
--Primary: #196DAB;
--Secondary: #C0B6A5;
--Background: #E6E8EB;
--Accent: #FDD42E; */
}

.DatepickerContainer {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 1vmax; 
}

.DatepickerContainer>.grid-container {
  background-color: var(--Background);
}

.DatepickerContainer>.monthHeader {
  background-color: var(--Primary);
  color:var(--Accent);
}

b {
  margin: 5px;
}

.presetMenuContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  top: 10px;
  right: 33%;
  width: 33%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 var(--Shadow),0 6px 20px 0 var(--Shadow);
  background-color: var(--Background) !important;
  -webkit-animation-name: menuanimatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: menuanimatetop;
  animation-duration: 0.4s;
}

.presetMenuContainer>ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style-type: none;
  list-style: none;
}
.presetMenuContainer>ul li {
  width:70%;
  padding:10px;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:var(--Primary);
  color:var(--Accent);
  border-radius: 5px;
}
.presetMenuContainer>ul li:hover, li:active {
  cursor: pointer;
  box-shadow:0px 20px 70px 1px var(--Shadow);
  opacity: 0.85;
}

.calendarHamburger {
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid var(--Primary);
  border-bottom: 0.2em solid var(--Primary);
  align-self: left;
}

.calendarHamburger:hover {
  cursor: pointer;
  font-size: 2rem;
  opacity: 0.7;
}

.calendarHamburger::before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid var(--Primary);
}

.close-calendar-button:hover {
  cursor: pointer;
  opacity: 0.85;
  font-size: 2rem;
}

.leftArrow, .rightArrow {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--Primary) !important;
}
.leftArrow:hover, .rightArrow:hover {
  font-size: 2rem;
  cursor: pointer;
}

.close-preset-menu {
  position:absolute;
  right:5px;
  top:0;
  color: var(--Primary);
  margin:5px;
}
.close-preset-menu:hover {
  font-size: 2rem;
  cursor: pointer;
}

.close-calendar-button {
  color: var(--Primary) !important;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin:auto;
    position: relative;
    box-shadow: 0 4px 8px 0 var(--Shadow),0 6px 20px 0 var(--Shadow);
    border-radius: 5px;
    width: 730px;
    height: 80%;
  }
  /* animations for calendar UI */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @-webkit-keyframes menuanimatetop {
    from {top:-300px; opacity:0} 
    to {top:10px; opacity:1}
  }
  @keyframes menuanimatetop {
    from {top:-300px; opacity:0}
    to {top:10px; opacity:1}
  }

  @-webkit-keyframes animateleft {
    from {right:365px; opacity:0; z-index: -1;}
    to {right:780px; opacity:1; z-index: 1;}
  }
  @keyframes animateleft {
    from {right:365px; opacity:0; z-index: -1;}
    to {right:780px; opacity:1; z-index: 1;}
  }
  .grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
    color: var(--Accent);
    text-align: center;
    font-size: 24px;
    border-radius: 5px; 
    transition: all, 0.1s;   
  }

  .grid-container > div.active {
    background-color: var(--Accent);
    color:var(--Shadow);   
    box-shadow:0px 20px 70px 1px var(--Shadow);
  }

  .grid-container > .day {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 24px;
    height: 48px;
    width: 48px;
    transition: all, 0.1s;   
  }
  .grid-container > .leading-trailing-day {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 24px;
    height: 48px;
    width: 48px;
    color: var(--Primary);
    background-color: var(--Shadow);
    opacity: 0.6;
    transition: all, 0.1s;   
  }
  .grid-container > .day.highlighted {
    background-color: var(--Accent);
    color:var(--Shadow);
    box-shadow:0px 20px 70px 1px var(--Shadow);   
  }

  .grid-container > .dayHeader {
    padding: 20px;
  }

  .grid-container > .monthHeader {
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color:var(--Accent);
  }

  .grid-container > .monthHeader > .leftArrow {
    vertical-align: middle;
    grid-column-start: 0;
    grid-column-end: 1;
    height: 48px;
    width:  48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-container > .monthHeader > .rightArrow {
    vertical-align: middle;
    grid-column-start: 7;
    grid-column-end: 8;
    height: 48px;
    width:  48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .startDateElement, .endDateElement, .startTimeElement, .endTimeElement {
    font-size: 1rem !important;
    font-weight: lighter;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .startTimeElement, .endTimeElement, .startTimeElement input, .endTimeElement input {
    font-size: 1.54em !important;
    color: var(--Background);
  }
  .startTimeElement, .endTimeElement {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-items: center;
    align-items: center;
  }
  .hour input, .minute input {
    background: var(--Primary) !important;	  
    background-image:none !important;
    border: none !important;
    background-color: var(--Primary) !important;
    color: var(--Accent);
    width: calc(2em - 4px);
    display: block;
    float: left;
    padding:0;
    margin-top: 10%;
    clear: both;
    text-align: center;
    outline: none !important;
  }
  .hour input[type=number]:focus, .hour input[type=number]:active, .minute input[type=number]:focus, .minute input[type=number]:active {
    width: calc(2em - 4px);
    border: 2.5px solid var(--Accent) !important;
    border-radius: 5px;
    padding:0;
    outline: 2.5px solid var(--Primary) !important;
    margin-top: 10%;
  }
  .hour .ReadOnly:focus, .hour .ReadOnly:active, .minute .ReadOnly:focus, .minute .ReadOnly:active {
    width: calc(2em - 4px);
    border: 2.5px solid var(--Accent) !important;
    padding:0;
    border-radius: 5px;
    outline: 2.5px solid var(--Primary) !important;
    margin-top: 10%;
  }
  /* Chrome, Safari, Edge, Opera */
  .hour input::-webkit-outer-spin-button, .hour input::-webkit-inner-spin-button, .minute input::-webkit-outer-spin-button, .minute input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  .hour input[type=number], .minute input[type=number] {
    -moz-appearance: textfield;
  }
  .TimeUpDown {
    margin-left: 5px;
    float: left;
    color: var(--Background);
  }
  .TimeUpDown div {
    cursor: pointer;
    color: var(--Background);
  }  
  .TimeUpDown div:hover {
    opacity: 0.7;
    cursor:pointer;
    box-shadow:0px 20px 70px 1px var(--Shadow);
  }
  .ampm {
    border-radius: 5px;
    border: 2px solid var(--Primary);
  }
  .am, .pm {
    cursor: pointer;
    padding: 2px;
  }
  .am[selected], .pm[selected]{
    background-color: var(--Background);
    color: var(--Accent);
  }
  .am {
    border-bottom: 1px solid var(--Primary);
  }

/* submit button styling */
.cancelButton {
  font-size: 2rem;
  background-color: var(--Primary);
  text-align: center;
  border-radius: 5px; 
  transition: all, 0.1s;
  border-style: none;
  color: var(--Accent);
}

.submitButton {
  font-size: 3rem;
  background-color: var(--Accent);
  color:var(--Primary);
  text-align: center;
  border-radius: 5px; 
  transition: all, 0.1s;
  border-style: none;
}

.submitButton:hover, .cancelButton:hover {
  box-shadow:0px 20px 70px 1px var(--Shadow);
  cursor: pointer;
  opacity: 0.85;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.launch {
  float: left;
  border-style: solid;
  border-color: var(--Accent);
  border-width: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--Accent);
}

.headingBlock {
  float: left;
  background-color: var(--Background);
  text-align: right;
  min-width: 100px;
  line-height: 40px;
  padding: 0px 10px 0px 0px;
}

.timeBlock {
  float: left;
  min-width: 100px;
  line-height: 40px;
  padding: 0px 20px;
}

.launchButton {
  display:none;
  float: left;
  position: absolute;
  text-align: center;
  color: var(--Primary);
  width:250px;
  line-height: 80px;
  border-radius: 5px;
}

.launch:hover > .launchButton {
  display:block;
  cursor:pointer;
}
.launch:hover > .timeBlock {
  cursor:pointer;
  opacity: 0.2;
}
.launch:hover > .headingBlock {
  cursor:pointer;
  opacity: 0.2;
}

.day:hover {
  cursor:pointer;
  opacity: 0.85;
  box-shadow:0px 20px 70px 1px var(--Secondary);
}


