
.DatepickerContainer {
    width: 720px;
    height: 720px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2b4c68;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
  }

  .grid-container > div.active {
      background-color: rgb(136, 64, 64);
      color:white;
  }

  .grid-container > .day {
    padding: 24px;
  }

  .grid-container > .day.highlighted {
    background-color: rgb(182, 85, 85);
    color:white;
  }

  .grid-container > .dayHeader {
    padding: 20px;
  }

  .grid-container > .monthHeader {
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .grid-container > .monthHeader > .leftArrow {
    vertical-align: middle;
    grid-column-start: 0;
    grid-column-end: 1;
    height: 48px;
    width:  48px;
  }
  .grid-container > .monthHeader > .rightArrow {
    vertical-align: middle;
    grid-column-start: 7;
    grid-column-end: 8;
    height: 48px;
    width:  48px;
  }
  .startDateElement, .endDateElement {
    font-size: 1rem !important;
    font-weight: lighter;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

